<md-content class="md-no-momentum">
    <div layout="column" layout-padding ng-cloak>
        
     <table ng-repeat="group in classementCtrl.groups | orderBy: rank">
        <tr>
            <td colspan="8"><md-subheader class="md-no-sticky">{{group.group}}</md-subheader></td>
        </tr>
        <tr>
            <td>
                {{group.rank}}
            </td>
            <td class="drapeau">
                    <img ng-src="{{group.crestURI}}" height="30" width="30">
            </td>
            <td>
                {{group.team}}
            </td>
            <td>
                {{group.playedGames}}
            </td>
            <td>
                {{group.points}}
            </td>
            <td>
                {{group.goals}}
            </td>
            <td>
                {{group.goalsAgainst}}
            </td>
            <td>
                {{group.goalDifference}}
            </td>
        </tr>      
     </table>
        
    </div>
</md-content>