<md-content>
    <div ng-cloak>

        <div style="text-align : center;">
            <img src="img/loading.gif" ng-show="calendarCtrl.loading"/>
        </div>

        <md-tabs md-dynamic-height md-border-bottom ng-show="!calendarCtrl.loading">
            <md-tab label="R&eacute;sultats">
                <md-content class="md-padding">
                    <h1 class="md-display-2">R&eacute;sultats</h1>

                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="fixture in calendarCtrl.fixtures | orderBy: date">
                                
                                <table>
                                    <tr>
                                        <td colspan="6"><md-subheader class="md-no-sticky">{{fixture.date | date :'EEEE dd MMMM yyyy'}}</md-subheader></td>
                                    </tr>
                                    <tr ng-repeat="match in fixture.data">
                                        <td class="horaire">{{match.date.substring(match.date.indexOf('T') +1,match.date.length-1)}}</td>
                                        <td class="drapeau">
                                             <img ng-src="{{match.homeTeamHref}}" height="30" width="30">
										</td>
										<td class="equipe">
                                            {{match.homeTeamName}}
                                        </td>
                                        <td class="score"> {{match.result.goalsHomeTeam}}</td>
                                        <td class="separation"> - </td>
                                        <td class="score">{{match.result.goalsAwayTeam}}</td>
                                        <td class="equipe">
                                            {{match.awayTeamName}}
										</td>
										<td class="drapeau">
                                            <img ng-src="{{match.awayTeamHref}}" height="30" width="30">
                                        </td>
                                    </tr>
                                </table>
                            </md-list-item>
                        </md-list>
                    </md-content>
            </md-tab>

           

            <md-tab label="Pronostics" ng-if="calendarCtrl.isConnected()">         
                <md-content class=" md-padding">
                    <div ng-class="calendarCtrl.class" ng-show="calendarCtrl.message" ng-bind="calendarCtrl.message"></div> 
         
                    <h1 class="md-display-2">Pronostics</h1>
                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="pronostic in calendarCtrl.pronostics | orderBy: date">

                                <table>
                                    <tr>
                                        <td colspan="6"><md-subheader>{{pronostic.date | date :'EEEE dd MMMM yyyy'}}</md-subheader></td>
                                    </tr>
                                    <tr ng-repeat="match in pronostic.data">
                                        <td class="horaire">{{match.date.substring(match.date.indexOf('T') +1,match.date.length-1)}}</td>
                                        <td class="drapeau">
                                            <img ng-src="{{match.homeTeamHref}}" height="30" width="30">
										</td>
										<td class="equipe">
                                            {{match.homeTeamName}}
                                        </td>
                                        <td class="score"><input type="text" ng-model="match.goalsHomeTeam" maxlength="2" style="width : 25px;" ng-disabled="match.available == 'N' ? true : false" /></td>
                                        <td class="separation">-</td>
                                        <td class="score"><input type="text" ng-model="match.goalsAwayTeam" maxlength="2" style="width : 25px;" ng-disabled="match.available == 'N' ? true : false" /></td>  
                                        <td class="equipe">
                                            {{match.awayTeamName}}
										</td>
										<td class="drapeau">
                                            <img ng-src="{{match.awayTeamHref}}" height="30" width="30">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" align="center">
                                            <md-input-container class="md-block">
                                                <md-button class="md-raised md-primary" ng-click="calendarCtrl.savePrognosis(pronostic.data)">Enregistrer</md-button>
                                            </md-input-container>
                                        </td>
                                    </tr>
                                </table>
                            </md-list-item>
                        </md-list>
                    </md-content>

            </md-tab>

            <md-tab label="Classement g&eacute;n&eacute;ral" ng-if="calendarCtrl.isConnected()">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Classement g&eacute;n&eacute;ral</h1>
                                     
                     <table>
                        <tr>
                            <th style="text-align :center;"><md-subheader>Rang</md-subheader></th>
                            <th style="text-align :center;"><md-subheader>Avatar</md-subheader></th>
                            <th style="text-align :center;"><md-subheader>Pseudonyme</md-subheader></th>
                            <th style="text-align :center;"><md-subheader>Nombre de points</md-subheader></th>
                            <th style="text-align :center;"><md-subheader>Nombre de victoire</md-subheader></th>
                            <th style="text-align :center;"><md-subheader>Nombre de score</md-subheader></th>
                        </tr>
                        <tr ng-repeat="rang in calendarCtrl.rangs" ng-class-odd="'impair'" ng-class-even="'pair'" ng-class="calendarCtrl.isMySelf(rang.id) ? 'border' : ''">
                            <td align="center">{{rang.rang}}</td>
                            <td align="center"><img class="avatar" ng-src="{{rang.path}}" height="42" width="42"></td>
                            <td align="center">{{rang.pseudonyme}}</td>
                            <td align="center">{{rang.points}}</td>
                            <td align="center">{{rang.winners}}</td>
                            <td align="center">{{rang.scores}}</td>
                        </tr>
                    </table>
                </md-content> 
            </md-tab>
                    
            <md-tab ng-repeat="group in calendarCtrl.groups" label="Classement {{group.nom}}" ng-if="calendarCtrl.isConnected()">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Classement {{group.nom}}</h1>
                    
                        <table>
                            <tr>
                                <th style="text-align :center;"><md-subheader>Rang</md-subheader></th>
                                <th style="text-align :center;"><md-subheader>Avatar</md-subheader></th>
                                <th style="text-align :center;"><md-subheader>Pseudonyme</md-subheader></th>
                                <th style="text-align :center;"><md-subheader>Nombre de points</md-subheader></th>
                                <th style="text-align :center;"><md-subheader>Nombre de victoire</md-subheader></th>
                                <th style="text-align :center;"><md-subheader>Nombre de score</md-subheader></th>
                            </tr>
                            <tr ng-repeat="rang in group.classement" ng-class-odd="'impair'" ng-class-even="'pair'" ng-class="calendarCtrl.isMySelf(rang.id) ? 'border' : ''">
                                <td align="center">{{rang.rang}}</td>
                                <td align="center"><img class="avatar" ng-src="{{rang.path}}" height="42" width="42" ></td>
                                <td align="center">{{rang.pseudonyme}}</td>
                                <td align="center">{{rang.points}}</td>
                                <td align="center">{{rang.winners}}</td>
                                <td align="center">{{rang.scores}}</td>
                            </tr>
                        </table>
                    
                    <md-divider></md-divider>
                     <section layout="row">
                        <md-button ng-disabled="calendarCtrl.isAffichable(group.id)" ng-click="calendarCtrl.afficheListe(group.id)" class="md-raised md-primary">Ajouter utilisateurs</md-button>
                        <md-button ng-click="calendarCtrl.deinscription(group.id)" class="md-raised md-primary">Se désinscrire</md-button>
                      </section>
                      
                      <md-divider ng-show="calendarCtrl.isAffichable(group.id)"></md-divider>
                      
                       <form ng-show="calendarCtrl.isAffichable(group.id)" name="calendarCtrl.groupAjoutForm" class="css-form" novalidate>
                                <md-list  ng-cloak>
                                    <md-subheader class="md-no-sticky">Listes des utilisateurs</md-subheader>
                                    <md-list-item class="liste" ng-repeat="user in calendarCtrl.users | filterGroup : group.classement">
                                        <p> {{ user.pseudonyme }} ( {{ user.lastname }} {{ user.firstname }} ) </p>
                                        <md-checkbox class="md-secondary" ng-model="user.check"></md-checkbox>
                                    </md-list-item>
                                </md-list>
                                <div>
                                    <md-input-container class="md-block">
                                        <md-button ng-disabled="calendarCtrl.groupAjoutForm.$invalid" class="md-raised md-primary" ng-click="calendarCtrl.modifieGroupe(group.id)">Modifier le groupe</md-button>
                                    </md-input-container>
                                </div>
                        </form>
                    
                </md-content> 
            </md-tab>        
                    
            <md-tab label="Cr&eacute;e un mini championnat" ng-if="calendarCtrl.isConnected()">
               <md-content class="md-padding">
                   <div ng-class="calendarCtrl.class" ng-show="calendarCtrl.message" ng-bind="calendarCtrl.message"></div> 
                   <form name="calendarCtrl.groupForm" class="css-form" novalidate>
                        <md-list  ng-cloak>
                            <md-subheader class="md-no-sticky">Nom du mini championnat</md-subheader>
                            <input required ng-model="calendarCtrl.nomGroupe">
                            <md-subheader class="md-no-sticky">Listes des utilisateurs</md-subheader>
                            <md-list-item class="liste" ng-repeat="user in calendarCtrl.users">
                                <p> <img class="avatar" ng-src="{{user.path}}" height="42" width="42"> {{ user.pseudonyme }} ( {{ user.lastname }} {{ user.firstname }} ) </p>
                                <md-checkbox class="md-secondary" ng-model="user.check"></md-checkbox>
                            </md-list-item>
                        </md-list>
                        <div>
                            <md-input-container class="md-block">
                                <md-button ng-disabled="calendarCtrl.groupForm.$invalid" class="md-raised md-primary" ng-click="calendarCtrl.ajoutGroupe()">Créer un groupe</md-button>
                            </md-input-container>
                         </div>
                   </form>
                </md-content> 
            </md-tab>
                       
             <md-tab label="Reglement">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Reglement</h1>

                    <md-content class="md-padding">
                        <div>

                            <h4 class="titre">La grille de points</h4>
                            <ul>
                                <li>Le score exact (&laquo; perfect &raquo;) rapporte 3 points</li>
                                <li>Le bon vainqueur rapporte 1 point (ex : prono : 5-0 et score r&eacute;el : 2-1)</li>
                                <li>Autre cas = 0 point</li>
                            </ul>

                            <br />

                            <h4 class="titre">Conditions de validit&eacute; des pronostics</h4>
                            <ul>
                                <li class="texte">
                                    Pour que vos pronostics soient homologu&eacute;s, ils doivent &ecirc;tre effectu&eacute;s AVANT le d&eacute;but du match.
                                    Tout pronostic effectu&eacute; apr&egrave;s le coup d'envoi d'un match ne sera pas valid&eacute;.
                                    Vos pronostics sont &agrave; effectuer dans la rubrique &laquo; pronostic &raquo; &agrave; laquelle vous acc&eacute;dez depuis le menu.
                                    Vous devez cependant &ecirc;tre connect&eacute; pour acc&eacute;der aux grilles de pronostics
                                </li>
                                <li class="texte">
                                    Si une personne pronostique alors que certains matchs de la journ&eacute;e ont commenc&eacute;,
                                    seuls les pronostics de matchs non-d&eacute;but&eacute;s sont pris en compte.
                                </li>
                                <li class="texte">
                                    Une contestation excessive et des injures sont passibles de p&eacute;nalit&eacute;s, voire d'exclusion de la comp&eacute;tition.
                                </li>
                                <li class="texte">
                                    Il est strictement interdit de copier ou de s'inspirer de ses adversaires quelle que soit la comp&eacute;tition.
                                    En cas de fraude, l'Equipe Dirigeante jugera s'il y a eu copiage ou non.
                                </li>
                                <li class="texte">
                                    L'Equipe Dirigeante (ED) peut &agrave; tout moment apporter des avenants au pr&eacute;sent r&egrave;glement pour les lacunes observ&eacute;es ult&eacute;rieurement &agrave; sa publication.
                                </li>
                                <li class="texte">
                                    Tout pronostiqueur se doit de v&eacute;rifier la date et l'heure des matchs mise en ligne par un membre de l'Equipe Dirigeante (ED).
                                </li>
                                <li class="texte">
                                    Ne pas oublier que tout ceci est un jeu o&ugrave; l'ambiance, le chambrage et la bonne humeur sont au rendez-vous.
                                    Evidemment, chaque comp&eacute;titeur ou comp&eacute;titrice est motiv&eacute;(e) pour faire de son mieux. Il n'y a pas d'argent &agrave; gagner.
                                    Ce qu'il y a &agrave; gagner, c'est le respect &eacute;ternel de ses adversaires pour celui ou celle qui atteint la marche supr&ecirc;me de notre comp&eacute;tition.
                                </li>
                            </ul>
                        </div>
                    </md-content>
            </md-tab>
            
        </md-tabs>

    </div>
</md-content>